@import "tailwindcss";

.Toastify__toast {
    font-family: inherit;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 16px;
    min-height: 64px;
    margin-top: 90px;
    margin-right: 16px;
    font-size: 13px;
}

.Toastify__toast--success {
    background-color: #0e9c6d;
}

.Toastify__toast--error {
    background-color: #EF4444;
}

.Toastify__progress-bar--success {
    background: #0e9c6d;
}

.Toastify__progress-bar--error {
    background: #DC2626;
}

.Toastify__close-button {
    opacity: 0.7;
    margin: 16px 5px;
}

.Toastify__close-button:hover {
    opacity: 1;
    color: lightslategray;
}

.pulse-animation {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: pulse 2s infinite ease-in-out;
  transform-origin: center;
}

@keyframes pulse {
  0% {
    stroke-width: 1;
    fill-opacity: 0.4;
  }
  50% {
    stroke-width: 10;
    fill-opacity: 0.7;
  }
  100% {
    stroke-width: 1;
    fill-opacity: 0.4;
  }
}

.blue-map-tiles img {
    filter: brightness(0.94) invert(100%) grayscale(100%) sepia(100%) hue-rotate(195deg) saturate(250%) !important;
}